Flask==3.1.0
Flask-Cors==5.0.0
matplotlib==3.9.2
numpy==2.1.2
pandas==2.2.3
scikit-learn==1.5.2
kneed==0.8.5
xgboost==2.1.2
Flask-MonitoringDashboard==4.0.4
Jinja2==3.1.4
Werkzeug==3.1.0
itsdangerous==2.2.0
certifi==2024.8.30
MarkupSafe==3.0.1
seaborn==0.13.2
statsmodels==0.14.5
gunicorn==23.0.0

